* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  color: silver;
}

body {
  background-image: url('./assets/photos/mn-united-stadium.jpg');
}
h1 {
  font-family:'Courier New', Courier, monospace;
  margin: 32px 0;
  color: silver;
  font-size: 24px;
}

h3 {
  margin: auto;
  color: silver;
  font-size: 20px;
}
.navbar-brand{
  color: silver;
  text-decoration: none;
}
.nav-link{
  color: silver;
  text-decoration: none;
}
.about {
  background-color: black;
  margin: 100px;
}
.about-title {
  text-align: center;
  font-size: 50px;
  border-bottom: silver solid 3px;
}


